/* Utils */


/* container */
.big-container {
	max-width: 1200px;
	margin: 0 auto;
}

.small-container {
	max-width: 1000px;
	margin: 0 auto;
}

/* width */
.w-30{
	width: 30%;
}

.w-40{
	width: 40%;
}

.w-60{
	width: 60%;
}

.w-70 {
	width: 70%;
}

/* btn */

.btn{
	background-color: white;
	color: black;
	display: inline-block;
	border: 1px solid transparent;
	padding: 10px 20px;

}

.btn-primary{
	background-color: #0061ff;
	color: white;
	border: 1px solid transparent;
	text-decoration: none;
}

.btn-secondary{
	background-color: white;
	color: #d5d5d8;
	border: 1px solid #d5d5d8;
	text-decoration: none;
}


/* divisore per i pack */
.full-line{
	border-bottom: 2px solid #d5d5d8;
	text-align: center;
	padding: 0.5rem;
}

.line-hr{
	width: 10%;
}
.line-hr-large {
	width: 20%;
	color: #d5d5d8;
}


/* margin */
.mg-up{
	margin-top: 10rem;
}

.mg-bottom {
	margin-bottom: 10rem;
}

.mg-up-small {
	margin-top: 5rem;
}

.mg-bottom-small {
	margin-bottom: 5rem;
}


/* padding */
.pd-left{
	padding-left: 3rem;
}

/* color scquare partners */


.color-square-designit{
	background-color: #a2d39b;
	border: 1.2rem solid #d1e9cd;
}

.color-square-arizona {
	background-color: #61082b;
}

.color-square-florida {
	background-color: #0093ce;
}

.color-square-topps {
	background-color: #ff1c1c;
}

.color-square-world {
	background-color: #d5001f;
}
.color-square-hearts {
	background-color: #b4d0e7;
}
.color-square-lonely {
	background-color: #0d2481;
}
.color-square-clear {
	background-color: #ffd830;
}




/* displayflex */
.flex-display{
	display: flex;
	flex-wrap: wrap;
}




/* .clearfix */

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}