/* Utils */


/* container */
.big-container {
	max-width: 1200px;
	margin: 0 auto;
}

.small-container {
	max-width: 1000px;
	margin: 0 auto;
}

/* width */
.w-30{
	width: 30%;
}

.w-40{
	width: 40%;
}

.w-60{
	width: 60%;
}

.w-70 {
	width: 70%;
}

/* btn */

.btn{
	background-color: white;
	color: black;
	display: inline-block;
	border: 1px solid transparent;
	padding: 10px 20px;

}

.btn-primary{
	background-color: #0061ff;
	color: white;
	border: 1px solid transparent;
	text-decoration: none;
}

.btn-secondary{
	background-color: white;
	color: #d5d5d8;
	border: 1px solid #d5d5d8;
	text-decoration: none;
}

/* disisiore per i pack */
.full-line{
	border-bottom: 2px solid #d5d5d8;
	text-align: center;
	padding: 0.5rem;
}


/* margin */
.mg-up{
	margin-top: 10rem;
}

.mg-bottom {
	margin-bottom: 10rem;
}

.mg-up-small {
	margin-top: 5rem;
}

.mg-bottom-small {
	margin-bottom: 5rem;
}


/* padding */
.pd-left{
	padding-left: 3rem;
}




/* displayflex */
.flex-display{
	display: flex;
	flex-wrap: wrap;
}




/* .clearfix */

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}